body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    /* overflow: scroll;  allows to see content which exceeds screen length */
    overflow: hidden;
}

.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar {
    background-color: black;
    width: 340px;
    border-radius: 1rem;  /* 1 rem = 16px */
    margin-right: 0.5rem;
}

.main-content {
    background-color: #121212;
    flex: 1;    /* after all the divs have been assigned their sizes; give the rest of the entire space to this div */
    border-radius: 1rem;  /* 1 rem = 16px */
    overflow: auto;   /* diff bw auto and scroll is auto mein scroll wala bar doesnt show hamesha only when hovered */
    padding: 0 1.5rem 0 1.5rem;
}

.music-player {
    background-color: black;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 70px;

}

a {
    text-decoration: none;
    color: white;
}

.nav {
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    /* all divs in row form but need in column so used flex direction */
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}

.nav-option {
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}

.nav-option:hover{
    opacity: 1;
}

.nav-option i {
    font-size: 1.25rem;
}

.nav-option a {
    font-size: 1 rem;
    margin-left: 1rem;
}

.library {
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;

}

.options {
    display: flex;  /* FOR ALIGNING IN THE SAME LINE */
    justify-content: space-between;  /* same line towards the right side */
    align-items: center; /* center mein equally aligned */
}

.icons {
    font-size: 1.25rem;
    display: flex;
}

.icons i {
    opacity: 0.7;
    margin-right: 1rem;
}

.icons i:hover{
    opacity: 1;
}


.lib-option img{
    width: 1.25rem;  /* REM IS WITH REFERENCE TO 16 */
    height: 1.25rem;
}

.box {
    height: 8rem;
    background-color: #232323;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.75rem 1rem;
}

.box-p1 {
    font-size: 1rem;
    font-weight: 500;
}

.box-p2 {
    font-size: 0.85rem;
    opacity: 0.9;
}

.badge {
    background-color: white;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700rem;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}

.sticky-nav {
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;  /* so when scrolling no overlapping of text on screen */
}

.sticky-nav-icons {
    margin-left: 0.75rem;
}

.sticky-nav-options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    margin-right: 1rem;
}

.dark-badge {
    background-color: black;
    color: white;
}

@media (max-width:1000px) {
    .hide {
        display: none;
    }
}

.card {
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
    
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    
}

.card-img {
    width: 100px;
    border-radius: 0.5rem;

}

.card-title {
    font-weight: 600;
}

.card-info {
    font-size: 0.85rem;
    opacity: 0.5;
}

.footer {
    height: 300px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.line {
    width: 90%;
    height: 50%;
    border-top: 1px solid white;
    opacity: 0.4;
}

.music-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.album {
    width: 25%;
}

.player {
    width: 50%;
    
}

.controls {
    width: 25%;
}

.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-control-icon {
    height: 1rem;
    margin-right: 1.75rem;
    opacity: 0.7;
}

.player-control-icon:hover {
    opacity: 1;
}

.playback-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    width: 70%;
    appearance: none;   /* by default jo styling hai wo remove ho jati hai */
    background-color: transparent;
    cursor: pointer;
}

.progress-bar::-webkit-slider-runnable-track {
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}

.progress-bar::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
}



/* .album {
    width: 200px;
    padding: 16px;
    background-color: #181818;
    color: white;
    transition: background-color 0.3s ease;
    cursor: pointer;
} */

.album {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.album-cover {
    height: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 5%;
    justify-content: flex-start;
}

.album-info {
    flex-direction: column;
    margin-left: -15px;
}

.song {
    font-size: 1rem;
    margin: 4px 0;
}

.artist {
    font-size: 0.75rem;
}